# 1.0 Introduction to Python



### Why Python?

1. Itâ€™s easy to learn
- Now the language of choice for 8 of 10 top US computer science
programs (Philip Guo, CACM)
2. Full featured
- Not just a statistics language, but has full capabilities for data
acquisition, cleaning, databases, high performance computing, and more
3. Strong Data Science Libraries
- Numpy, SciPy, Scikit-learn etc


It's important to note that Python isn't the only way that we could teach data science. We can teach data science in R, in Excel, in any number of software packages.  The concepts are more important for you to understand. 



### Your first program: Print!

Python can handle strings of letters that are enclosed in quotation marks like:  

`"I love TAR UC"` or `'I love Malaysia'`

One of the simplest programs is print, which works like the following:

In [1]:
"I love TAR UC"

'I love TAR UC'

### print

type **print("Hello World")** and observe the difference

In [2]:
print("Hello World")

Hello World

# Arithmetic

Python can also handle numbers, and basic arithmetic using the following functions.

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | modulo |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [3]:
print(3)
print(3*5)
print(3+3)
print(3-2)
print(8/2)

3
15
6
1
4.0

**Type the following and observe the difference**

3

3*5

3+3

3-2

8/2

In [4]:
3
3*5
3+3
3-2
8/2

4.0

### Practice: Basic Arithmetic Exercises

In [ ]:
# What is the duration of our 5-day workshop in minutes?

2100

### Integers vs. Float

For Python 2.x, it interprets 1/2 = 0, while Python 3.x the result will be 0.5

In [ ]:
print(1/2)

0.5

In [ ]:
print((type(10)))
print((type(10.)))
print((10 / 3))
print((10 % 3))
print((float(10) / 3)) # Force integers to be float
print((13.0 / 3.5)) # You can also change the initial data type. 
print((13.0 //3.5)) # Floor Division, rounds down the result to the nearest integer
print((round(7.5))) # You can round floats up to the neares integer.

<class 'int'>
<class 'float'>
3.3333333333333335
1
3.3333333333333335
3.7142857142857144
3.0
8

### Exercise

Find **x** in 5x = 3x + 8

Find x in 5x = 3x + 8
4.0

### Try the following:

In [ ]:
print(5.5 + 2.2)
print(5.5 - 2.2)
print(5.5 * 2.2)
print(5.5 / 2.2)
print(5.5 // 2.2)
print(5.5 ** 2.2)
print(5.5 < 2.2)
print(5.5 != 2.2)

7.7
3.3
12.100000000000001
2.5
2.0
42.540042248725975
False
True

# Variables

In [ ]:
b = -10 
c = 2.7 

print(b)
print(c)
print((b + c))

print((type(b)))
print((type(c)))
print((type(b+c)))

-10
2.7
-7.3
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
print(b**5)
print(b+c*(b/c))

-100000
-20.0

### Change the data type

In [ ]:

b = float(b)
c = int(c)

print(b)
print(c)

print((type(b)))
print((type(c)))

### Exercise

How far does light travel in the time that your computer does one cycle?

Assuming that the computer is processing at a frequency of 4GHz.

In [5]:
# a 4 GHz processor has a cycle time of 0.25 ns
# Light traveling through a vacuum moves at exactly 299,792,458 meters per second.

x = 299792458 / 2.5e-10
output = f"{x:.9f}"

print (x)
print (output)

1.199169832e+18
1199169832000000000.000000000

### Type the following command

%whos

In [6]:
%whos

Variable   Type      Data/Info
------------------------------
os         module    <module 'os' from 'C:\\Us<...>n\\Python38\\lib\\os.py'>
output     str       1199169832000000000.000000000
sys        module    <module 'sys' (built-in)>
x          float     1.199169832e+18

# Strings

Define a variable as your name.  Then print "I am     ____  from TAR UC" using your variable.

In [8]:
name = 'Liana'
print("I am " + name + " from TAR UC")

I am Liana from TAR UC

### What will happen?

print("TAR UC is no " + 1)

In [9]:
print("TAR UC is no " + 1)

TypeError: can only concatenate str (not "int") to str

### Slices of String Indices


my_uni[i] -- ith item of my_uni, origin 0

my_uni[i:j] -- slice of my_uni from i to j

my_uni[i:j:k] -- slice of my_uni from i to j with step k

In [ ]:
my_uni='TAR UC'
# print(my_uni(0))
print(my_uni[0])
print(my_uni[0:5])
print(my_uni[1:5])
print(my_uni[0:6])

T
TAR U
AR U
TAR UC

### Useful string slicing

len(my_uni) -- length of my_uni

my_uni.index('c') -- index of the first occurrence of **c** in my_uni

my_uni.find('other') -- searches for the given other string (not a regular expression) within my_uni, and returns the first 
index where it begins or -1 if not found

In [ ]:
print(my_uni.index('C'))
print(my_uni.find('UC'))

5
4

In [ ]:
dean = 'Ms. Lim Mei Shyan is the dean of FOCS'

print(dean[dean.find('Ms'):dean.find(' is')])

Ms. Lim Mei Shyan

### HELP ME PLEASE

just type **help("str.find")**

In [ ]:
help("str.find")

Help on method_descriptor in str:

str.find = find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

### Common built- in methods
min(s) -- smallest item of s	

max(s) -- largest item of s	 

s.count(x) -- total number of occurrences of x in s	

s.lower(), s.upper() -- returns the lowercase or uppercase version of the string

s.strip() -- returns a string with whitespace removed from the start and end

s.isalpha()/s.isdigit()/s.isspace()... -- tests if all the string chars are in the various character classes

s.startswith('other'), s.endswith('other') -- tests if the string starts or ends with the given other string

s.replace('old', 'new') -- returns a string where all occurrences of 'old' have been replaced by 'new'

s.split('delim') -- returns a list of substrings separated by the given delimiter. The delimiter is not a regular expression, it's just text. 'aaa,bbb,ccc'.split(',') -> ['aaa', 'bbb', 'ccc']. As a convenient special case s.split() (with no arguments) splits on all whitespace chars.

s.join(list) -- opposite of split(), joins the elements in the given list together using the string as the delimiter. e.g. '---'.join(['aaa', 'bbb', 'ccc']) -> aaa---bbb---ccc

### Exercise

print *Ms. Chok Len Mooi is the deputy dean of FOCS* in uppercase

MS. CHOK LEN MOOI IS THE DEPUTY DEAN OF FOCS.

### Format

The % operator takes a printf-type format string on the left (%d int, %s string, %f/%g floating point), and the matching values in a tuple on the right (a tuple is made of values separated by commas, typically grouped inside parenthesis).

In [ ]:
print('My name is %s. I am working at %s as a %s. \
I have been with this company for %d years.'%('YU','Tar UC', 'Senior Lecturer', 1))

print('My name is {}. I am working at {} as a {}. \
I have been with this company for {} years.'.format('YU','Tar UC', 'Senior Lecturer', 1))

My name is YU. I am working at Tar UC as a Senior Lecturer. I have been with this company for 1 years.
My name is YU. I am working at Tar UC as a Senior Lecturer. I have been with this company for 1 years.

# Function

In [ ]:
def maths_is_beautiful( x , y ):
    "This is my first function. Please take note that indent is important!"
    
    return x + y

In [ ]:
maths_is_beautiful(5,8)

13

### Thinking Corner
Oops, "This is my first function. Please take note that indent is important!" was not returned?!

In [ ]:

# Retify the problem and complete the code

## start your code here...

maths_is_beautiful2(7,9)

This is my first function. Please take note that indent is important!

16

### Exercise 

Write a function to find the square root of a number

In [ ]:
import math
a= 100
print (math.sqrt(a))

10.0

In [ ]:
def squareroot(num):
    # your code

print (squareroot(a))

10.0

### Logic

In [ ]:
print((5 > 2))
print((2 > 5))
print((2 is 2))
print((2 == 3)) 
print((5 > 2 or 2 > 1))
print((5 > 2 and 2 > 2))
print(('s' in 'datascience'))
print(('x' in 'datascience'))

True
False
True
False
True
False
True
False

### if-else condition

In [ ]:


def which_is_bigger(a,b):
    if a > b:
        return a
    elif a < b:
        return b
    else:
        return 0

print(which_is_bigger (5,3))
print(which_is_bigger (3,6))
print(which_is_bigger (3,3))

5
6
0

### while condition

In [ ]:

countries = [['China','Beijing', 1350],
             ['India','Delhi',1210],
             ['United States','Washington DC', 309],
             ['Malaysia','Kuala Lumpur',29]]

# How many times bigger is the population of 
# China, India, and the US relative to Malaysia?

number_of_list = len(countries)
index = 0
while (index <number_of_list):
    ratio = countries[index][2]/countries[3][2]
    print('The population of %s relative to %s is about: %f'%(countries[index][0],countries[3][0],ratio))
    index = index + 1

The population of China relative to Malaysia is about: 46.551724
The population of India relative to Malaysia is about: 41.724138
The population of United States relative to Malaysia is about: 10.655172
The population of Malaysia relative to Malaysia is about: 1.000000

### List Methods

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it).
- sorted(list) -- return sorted list but keeps the original order of the list
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

#### Example

In [ ]:
colors = ['red', 'green', 'blue']
colors.append('purple')
colors

['red', 'green', 'blue', 'purple']

### List Slicing

it is similar to R. Be reminded that for python, the index always starts from zero.

In [ ]:
print(colors[0])
print(colors[0][1])

red
e

### for loop

In [ ]:
# Define sum_list.

def sum_list(your_list):

    
    totalvalue = 0
    
    for value in your_list:
    
        totalvalue = totalvalue + value

    return totalvalue

mark_list = [69,58,89]
sum_list(mark_list)

216

### List Comprehensions

Quite similar to lappy function in R

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
squares = [n*n for n in numbers]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]